*{
    box-sizing: border-box;
}
.parent
{
    height: 200vh;
    border: 20px solid black;
    display: flex;
    flex-direction: row;

   /* align-items: flex-start; */
    /* align-items: flex-end;  */
   /* align-items: center;  */
   /* flex-wrap: wrap; */
 
   /* align-content: flex-start; */

   flex-flow: row wrap;


   /* remove flex-direction and flex wrap   by  flex-flow command  */




    justify-content: flex-start;
     justify-content: flex-end; 
      justify-content: center; 
      justify-content: space-around;
      justify-content: space-between;
    justify-content: space-evenly;

}

.div1{
    width: 200px;
    height: 200px;
    background-color: orange;

    order: 4;
    align-self: center;
    /* remove align content from parent */
}
.div2{
    width: 200px;
    height: 200px;
    background-color: green;
    order: 1;
    align-self: flex-end;

}
.div3{
    width: 200px;
    height: 200px;
    background-color: blue;
    order: 2;
    align-self: flex-end;
}
.div4{
    height: 200px;
    width: 200px;
    background-color: yellow;
    order: 3;
    align-self: flex-start;
}